:root {
  --lg: 24px;
  --md: 16px;
  --ms: 8px;

  --gray: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding-bottom: var(--lg);
}

.table {
  border-collapse: collapse;
  width: 70%;
  margin-top: var(--lg);
}

.header {
  border: 1px solid #ddd;
  padding: var(--ms);
  text-align: left;
  border-left: none;
  border-right: none;
  background-color: var(--gray);
}

.data {
  border: 1px solid #ddd;
  padding: var(--ms);
  text-align: left;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--lg) 0 var(--lg) 0;
  gap: var(--lg);
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;

  &:hover {
    opacity: 0.5;
  }
}
